/*main container css*/

html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: scroll; /*prevents the shifting of the html elements to the right on page refresh */
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  z-index: 0;
  width: 450px;
  background-color: white;
  font-size: 20px;
  color: black;
  margin: 80px auto 0 auto;
  padding-top: 40px;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .container {
    width: 75%;
  }
}