/*main container css*/

html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  z-index: 0;
  width: 450px;
  background-color: white;
  font-size: 20px;
  color: black;
  margin: 80px auto 0 auto;
  padding-top: 40px;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}