/*nav bar css*/

#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 75px;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  padding-right: 10px;
  margin-left: 15vw;
}

#compose {
  float: right;
  margin-top: 18px;
  margin-right: 20vw;
  position: relative;
  align-items: center;
  height: 50px;
  border-radius: 10%;
  font-size: 120%;
  background-color: #00cc66;
  color: #006633;
  font-weight: bold;

}

/*pseudo-class hover attached to compose button*/
#compose:hover {
  background-color: white;
}
