/*nav bar css*/

#nav-bar {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

/* css styling for "Tweeter" title */
#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 75px;
}

/* styling for logo image */
#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  padding-right: 10px;
  margin-left: 15vw;
}
/* compose button*/
#compose {
  float: right;
  margin-top: 18px;
  margin-right: 20vw;
  position: relative;
  height: 50px;
  border-radius: 10%;
  font-size: 120%;
  background-color: #ccffcc;
  background-image: url(../images/create.png);
  background-repeat: no-repeat;
  background-position: 5px 13px;
  padding-left: 30px;
  color: #006633;
  font-weight: bold;
  border-color: darkslategray;
  border-width: 1px;

}

/*pseudo-class hover attached to compose button*/
#compose:hover {
  background-color: white;
}
