/*new tweet section scss*/

%tweet-shared {
  margin-left: 10px;
  font-size: 80%;
}

.new-tweet {
  z-index: 1;
  height:165px;
  margin: 15px 2em 0px 2em;
  background-color: #eee;
  border: 1px solid lightgrey;
  border-radius: 3%;


  /* "Compose Tweet" title styling */
  h2 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 120%;
    color: darkslategray;
    width: 348px;
    border-bottom-color: darkslategray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  /* styling of tweet input text area */
  textarea {
    @extend %tweet-shared;
    align-content: center;
    width: 95%;
    float: center;
    margin-right: 10px;
  }

  /* styling for the submit tweet button */
  input {
    @extend %tweet-shared;
    float: bottom;
  }

  /* styling for the character count shown to the right */
  span {
    float: right;
    align-content: right;
    margin-right: 10px;
    line-height: 30px;
    font-size: 80%;
  }

  /*class invisible and called only when tweet is empty or longer than 140 characters*/
  .errorMessage {
    display: none;
    float: center;
    width: 200px;
    line-height: 30px;
    font-size: 80%;
    font-weight: bold;
    color: red;
  }

  /*class attached to the span element counter when tweet text length is > 140*/
  .redColour {
    color: red;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .new-tweet textarea, h2 {
    width: 97%;
  }
}
