/*tweets-container css*/

%tweet-shared {
  border-top-style: solid;
  border-top-width: 1px;
}

#tweets-container {
  z-index: 1;
  margin: 20px 0 0 0;
}

/*this allows a hovered tweet to become highlighted while the rest stay the same */
#tweets-container:hover > article:hover {
  opacity: 1;

  /* shows icons when a certain tweet is hovered */
  .icons {
    opacity: 1;
  }
}

/* individual tweets css*/
.tweet {

  /* display of user name */
  .userName {
    display: inline;
    font-size: 110%;
    margin: 8px 90px 0 10px;
    width: 200px;
  }

  article {
    @extend %tweet-shared;
    min-height: 100px;
    font-size: 20px;
    color: black;
    margin: 10px 2em 0 2em;
    border-color: lightgrey;
    border-radius: 4%;
    overflow: hidden;
    opacity: 0.5;  /*normally the tweets will show faded on the page*/

    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #eee;
      color: darkslategrey;

      /* display of user avatar image */
      img {
        @extend %tweet-shared;
        display: inline;
        margin: 10px 0 10px 10px;
        height: 50px;
        width: 50px;
        border-radius: 10%;
        border-color: gray;
      }

      /* display of tweet user handle */
      span {
        display: inline;
        align-content: right;
        margin: 0 10px 0 10px;
        line-height: 30px;
        font-size: 70%;
        margin-left: 10px;
        color: darkslategray;
      }
    }

    /* styling of tweet text area */
    div {
      margin-left: 10px;
      margin-right: 10px;
      width:340px;
      border: none;
      padding: none;

      /*word-wrap allows breaking the text into new lines so it doesn't overflow the html element */
      p {
        word-wrap: break-word;
        font-size: 80%;
      }
    }
  }

  footer {
    @extend %tweet-shared;
    margin: 10px 0 0 0;
    border-top-color: lightgray;
    height: 30px;
    font-size: 80%;

    /* time passed since tweet was created */
    #time {
      float: left;
      display: inline;
      margin: 7px 0 0 0;
      color: darkslategray;
      font-weight: 2px;
    }

    /* flag, reload and heart icons */
    .icons {
      display: flex;
      justify-content: space-between;
      opacity: 0;  /*hides the icons when tweets are shown on the page*/
      float: right;
      color: black;
      margin: 5px 0 0 0;

      ion-icon {
        color: #00a087;
      }
    }
  }
}
