.tweet {
  z-index: 2;
  width: 430px;
  height: 200px;
  font-size: 20px;
  color: black;
  margin: 5px 0 5px 0.5em;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 4%;
  border-width: 1px;
}

.tweet article header {
  display: inline;
  width: 430;
  background-color: lightgrey;
  color: green;
  margin-left: 0;
}

.tweet article h2 {
  display: inline;
  font-size: 120%;
  margin-left: 10px;
}

.tweet article span {
  display: inline;
  float: right;
  align-content: right;
  margin: 0 10px 0 10px;
  line-height: 30px;
  font-size: 80%;
  margin-left: 10px;
  color: blue;
}

.tweet article div {
  margin-left: 10px;
}

.tweet footer div {
  float: bottom-left;
  font-size: 60%;
  margin: 0 0 50px 0px;
  color: blue;
}